body {
  width: 1989px;
  height: auto;
  margin: 0 45px 0 24px;
  padding: 16px 284px 89px;
  background-color: #fff;
}
a {
  text-decoration-line: none;
}
span {
  font-family: Pretendard;
  color: #383838;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
