a {
  text-decoration-line: none;
}
span {
  font-family: Pretendard;
  color: #383838;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
hr {
  /* width: auto; */
  margin: 25px 0;
  border: solid 1px #d3d6d8;
  background-color: #d3d6d8;
}
